In [1]:
from sqlalchemy import create_engine
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
from colorama import Fore, Back, Style

In [32]:
engine = create_engine('postgresql://postgres:110@localhost:5432/Employee_DB')
connection = engine.connect()
print(connection)

<sqlalchemy.engine.base.Connection object at 0x000001F3DB5098C8>

In [14]:
engine = create_engine('postgresql://postgres:110@localhost:5432/Employee_DB')
connection = engine.connect()

In [41]:
%%capture
%load_ext sql

In [38]:

PD=pd.read_sql('select *  from titles', engine)
print(PD)

  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer
5    e0004    Technique Leader
6    m0001             Manager

In [48]:
%env DATABASE_URL=postgresql://postgres:110@localhost:5432/Employee_DB

env: DATABASE_URL=postgresql://postgres:110@localhost:5432/Employee_DB

In [50]:
 %%sql 
select *  from titles

 * postgresql://postgres:***@localhost:5432/Employee_DB
7 rows affected.

[('s0001', 'Staff'),
 ('s0002', 'Senior Staff'),
 ('e0001', 'Assistant Engineer'),
 ('e0002', 'Engineer'),
 ('e0003', 'Senior Engineer'),
 ('e0004', 'Technique Leader'),
 ('m0001', 'Manager')]

In [ ]:
import psycopg2
conn = psycopg2.connect(user="postgres", password="110", database="Employee_DB", host="localhost", port="5432")
print("Successfully connected!")

In [ ]:
metadata = Employee_DB.MetaData()
census = Employee_DB.Table('census', metadata, autoload=True, autoload_with=engine)